<div class="relative w-full h-full mb-10">
  <div
    class="w-full bg-gradient-to-tr h-72 from-blue-500 via-blue-700 to-blue-800 rounded-b-3xl relative shadow-xl"
  >
    <div class="px-10 py-5" id="breadcrumb">
      <h1 class="text-2xl font-medium text-white">Account Management</h1>
      <!-- breadcrumb: start -->
      <nav aria-label="breadcrumb" class="flex items-center flex-wrap text-sm">
        <ol class="flex items-center flex-wrap gap-2">
          <li>
            <a href="#" routerLink="/" class="text-gray-50">Home /</a>
          </li>
          <li>
            <a href="#" routerLink="/officer" class="text-gray-50">Officer /</a>
          </li>
          <li>
            <a
              href="#"
              routerLink="/officer/account-management"
              class="text-gray-50"
              >Account Management</a
            >
          </li>
        </ol>
      </nav>
    </div>
    <div class="">
      <div
        class="absolute left-0 right-0 px-10 z-10"
        style="
          bottom: calc(
            -1 * (100% - document.getElementById('breadcrumb') .offsetHeight) - 12rem
          );
        "
      >
        <div class="flex bg-white rounded-3xl shadow-xl">
          <!-- content here -->
          <div class="w-full p-5 md:px-20 md:py-10">
            <div class="flex items-center justify-between my-1">
              <h1 class="font-semibold text-2xl">Pending Merchant Account</h1>
            </div>
            <div class="mt-5">
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="row-border hover"
              >
                <thead class="border-y">
                  <tr>
                    <th class="px-4 py-2">No</th>
                    <th class="px-4 py-2">Merchant Name</th>
                    <th class="px-4 py-2">Merchant Email</th>
                    <th class="px-4 py-2">Merchant Contact</th>
                    <th class="px-4 py-2">Description</th>
                    <th class="px-4 py-2">Status</th>
                    <th class="px-4 py-2">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let merchant of merchants; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ merchant.name }}</td>
                    <td>{{ merchant.email }}</td>
                    <td>{{ merchant.phoneNo }}</td>
                    <td>{{ merchant.description }}</td>
                    <td>
                      <span
                        *ngIf="merchant.accountStatus == 'pending'"
                        class="bg-yellow-400 text-white px-2 py-1 rounded-full"
                        >Pending</span
                      >
                      <span
                        *ngIf="merchant.accountStatus == 'approved'"
                        class="bg-green-400 text-white px-2 py-1 rounded-full"
                        >Approved</span
                      >
                      <span
                        *ngIf="merchant.accountStatus == 'rejected'"
                        class="bg-red-400 text-white px-2 py-1 rounded-full"
                        >Rejected</span
                      >
                    </td>
                    <td>
                      <button
                        (click)="
                          navigateWithoutParams(
                            '/officer/detail-merchant',
                            merchant._id
                          )
                        "
                        class="bg-gradient-to-tr from-blue-500 via-blue-700 to-blue-800 hover:bg-blue-700 text-white w-8 h-8 me-1 text-sm rounded-full flex items-center justify-center"
                      >
                        <svg
                          class="w-4 h-4 text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 20 14"
                        >
                          <g
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                          >
                            <path d="M10 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            <path
                              d="M10 13c4.97 0 9-2.686 9-6s-4.03-6-9-6-9 2.686-9 6 4.03 6 9 6Z"
                            />
                          </g>
                        </svg>
                      </button>

                      <button
                        *ngIf="
                          merchant.accountStatus !== 'approved' &&
                          merchant.accountStatus !== 'rejected'
                        "
                        class="bg-gradient-to-tr from-green-500 via-green-700 to-green-800 hover:bg-green-700 text-white w-8 h-8 me-1 text-sm rounded-full flex items-center justify-center"
                        (click)="acceptMerchant(merchant._id)"
                      >
                        <svg
                          class="w-4 h-4 text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 20 20"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m7 10 2 2 4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                          />
                        </svg>
                      </button>

                      <button
                        *ngIf="
                          merchant.accountStatus !== 'approved' &&
                          merchant.accountStatus !== 'rejected'
                        "
                        class="bg-gradient-to-tr from-red-500 via-red-700 to-red-800 hover:bg-red-700 text-white w-8 h-8 me-1 text-sm rounded-full flex items-center justify-center"
                        (click)="rejectMerchant(merchant._id)"
                      >
                        <svg
                          class="w-4 h-4 text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 20 20"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m13 7-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                          />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
