<div class="mt-10 my-10 justify-center items-center">
  <h1 class="text-center text-4xl font-bold text-gray-900">
    Promo Tourism Merchant Registration
  </h1>
</div>
<form
  [formGroup]="userDataForm"
  class="flex items-center space-y-6 justify-center"
  action="#"
  method="POST"
  (ngSubmit)="onSubmit()"
>
  <div class="w-3/4 border rounded-2xl shadow-sm p-4" *ngIf="isPersonalData">
    <div class="w-full py-5">
      <h2 class="font-bold text-center text-xl">Personal Information</h2>
      <hr />
    </div>
    <div class="flex items-start justify-between gap-4">
      <div class="w-1/2">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
          >Email address</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            required
            placeholder="Email Address"
            class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            formControlName="userEmail"
            (input)="userDataForm.get('userEmail').updateValueAndValidity()"
          />
          <div
            *ngIf="
              userDataForm.get('userEmail').touched &&
              userDataForm.get('userEmail').hasError('email')
            "
          >
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium"> Oops!</span> Invalid Email Address!
            </p>
          </div>
          <div
            *ngIf="
              userDataForm.get('userEmail').touched &&
              userDataForm.get('userEmail').hasError('required')
            "
          >
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              Email adress Required
            </p>
          </div>
        </div>
      </div>
      <div class="w-1/2">
        <label
          for="phone-number"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Phone Number</label
        >
        <div class="mt-2">
          <input
            id="phone-number"
            name="phone-number"
            type="tel"
            autocomplete="phone-number"
            required
            placeholder="Phone Number"
            (input)="userDataForm.get('userPhone').updateValueAndValidity()"
            class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            formControlName="userPhone"
          />
          <div
            *ngIf="
              userDataForm.get('userPhone').touched &&
              userDataForm.get('userPhone').hasError('minlength')
            "
          >
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium"> Oops!</span> Invalid Phone Number!
            </p>
          </div>
          <div
            *ngIf="
              userDataForm.get('userPhone').touched &&
              userDataForm.get('userPhone').hasError('required')
            "
          >
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              Phone number required
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <label
        for="full-name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Full Name</label
      >
      <div class="mt-2">
        <input
          id="full-name"
          name="full-name"
          type="text"
          autocomplete="full-name"
          required
          placeholder="Full Name"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          formControlName="userName"
        />
        <div
          *ngIf="
            userDataForm.get('userName').touched &&
            userDataForm.get('userName').hasError('required')
          "
        >
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            Full name required
          </p>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <label
        for="merchant-description"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Merchant Description</label
      >
      <div class="mt-2">
        <textarea
          id="merchant-description"
          name="merchant-description"
          type="text"
          autocomplete="merchant-description"
          required
          placeholder="Merchant Description"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          formControlName="userAddress"
        ></textarea>
        <div
          *ngIf="
            userDataForm.get('userAddress').touched &&
            userDataForm.get('userAddress').hasError('required')
          "
        >
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            Merchant description required
          </p>
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-4">
      <button
        type="button"
        class="flex justify-center items-center rounded-full px-5 w-fit bg-blue-700 py-1.5 text-sm font-normal leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        (click)="changeForm()"
      >
        <i class="fa-solid fa-circle-chevron-right me-2"></i> Next
      </button>
    </div>
  </div>

  <div class="w-3/4 border rounded-2xl shadow-sm p-4" *ngIf="isAttachment">
    <div class="w-full py-5">
      <h2 class="font-bold text-center text-xl">Merchant Legality Data</h2>
      <hr />
    </div>
    <div class="flex gap-4">
      <div class="w-1/2 py-2">
        <label
          for="cover-photo"
          class="block text-sm font-medium leading-6 text-gray-900"
          >License</label
        >
        <div
          class="flex justify-center rounded-lg border border-gray-900/25 px-6 py-10"
        >
          <div class="text-center">
            <div class="mt-4 flex text-sm leading-6 text-gray-600">
              <label
                for="file-upload"
                class="relative cursor-pointer rounded-md bg-white font-semibold text-blue-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-blue-500"
              >
                <span>Upload a file</span>
                <input
                  id="file-upload"
                  name="file-upload"
                  accept=".pdf"
                  type="file"
                  class="sr-only"
                />
              </label>
              <p class="pl-1">or drag and drop</p>
            </div>
            <p class="text-xs leading-5 text-gray-600">PDF up to 1 MB</p>
          </div>
        </div>
      </div>
      <div class="w-1/2 py-2">
        <label
          for="cover-photo"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Review</label
        >
        <div
          class="flex justify-center rounded-lg border border-gray-900/25 px-6 py-10"
        >
          <div class="text-center">
            <div class="mt-4 flex text-sm leading-6 text-gray-600">
              <label
                for="file-upload"
                class="relative cursor-pointer rounded-md bg-white font-semibold text-blue-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-blue-500"
              >
                <span>Upload a file</span>
                <input
                  id="file-upload"
                  name="file-upload"
                  accept=".pdf"
                  type="file"
                  class="sr-only"
                />
              </label>
              <p class="pl-1">or drag and drop</p>
            </div>
            <p class="text-xs leading-5 text-gray-600">PDF up to 1 MB</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-4 gap-2">
      <!-- back button -->
      <button
        type="button"
        (click)="changeForm()"
        class="flex justify-center items-center rounded-full px-5 w-fit bg-blue-700 py-1.5 text-sm font-normal leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        <i class="fa-solid fa-circle-chevron-left me-2"></i>Back
      </button>
      <button
        type="button"
        (click)="onSubmit()"
        class="flex justify-center items-center rounded-full px-5 w-fit bg-blue-700 py-1.5 text-sm font-normal leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        <i class="fa-solid fa-floppy-disk me-2"></i>Submit
      </button>
    </div>
  </div>
</form>
