<div class="flex flex-col justify-center items-center">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-20 w-auto" [src]="logo" alt="Your Company" />
    <h2
      class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign in to your account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      [formGroup]="userLoginForm"
      class="space-y-6"
      action="#"
      method="POST"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
          >Email Address</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            required
            formControlName="userEmail"
            placeholder="Email Address"
            class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          />
          <div
            *ngIf="
              userLoginForm.get('userEmail').touched &&
              userLoginForm.get('userEmail').hasError('required')
            "
          >
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Required</p>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
          <div class="text-sm">
            <a href="#" class="font-semibold text-blue-700 hover:text-blue-600"
              >Forgot password?</a
            >
          </div>
        </div>
        <div class="mt-2">
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Password"
            autocomplete="current-password"
            required
            class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            formControlName="userPass"
          />
        </div>
      </div>

      <!-- alert: start -->
      <div
        *ngIf="userLoginForm.invalid && loginClicked == true"
        class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50"
        role="alert"
      >
        <svg
          class="flex-shrink-0 inline w-4 h-4 mr-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <!-- <div>
          <span class="font-medium">Warning alert!</span> your credential isn't
          match with our data
        </div> -->
        <div
          *ngIf="
            userLoginForm.get('userEmail').invalid ||
              userLoginForm.get('userPass').invalid;
            else otherError
          "
        >
          <span class="font-medium">Warning alert!</span> Please Fill All the
          Fields Correctly.
        </div>
        <ng-template #otherError>
          <div>
            <span class="font-medium">Warning alert!</span> Your Credentials
            Doesn't Match Any of Our Records.
          </div>
        </ng-template>
      </div>
      <!-- alert: end -->

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-full bg-blue-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Sign in
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      New traveller?
      <a
        href="#"
        routerLink="/auth/register"
        class="font-semibold leading-6 text-blue-700 hover:text-blue-600"
        >Create your account now!</a
      >
    </p>
  </div>
</div>
