<div _ngcontent-ng-c530674021="" class="w-full bottom-0 bg-slate-50">
  <div
    _ngcontent-ng-c530674021=""
    class="w-full max-w-screen-xl mx-auto p-4 md:py-8"
  >
    <div
      _ngcontent-ng-c530674021=""
      class="sm:flex sm:items-center sm:justify-between"
    >
      <a _ngcontent-ng-c530674021="" class="flex items-center mb-4 sm:mb-0"
        ><img
          _ngcontent-ng-c530674021=""
          alt="PromoTourism Logo"
          class="h-20 mr-3"
          src="assets/img/logo-landscape.png"
      /></a>
      <ul
        _ngcontent-ng-c530674021=""
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-900 sm:mb-0"
      >
        <li _ngcontent-ng-c530674021="">
          <a
            _ngcontent-ng-c530674021=""
            href="about"
            class="mr-4 hover:underline hover:text-blue-700 md:mr-6"
            >About</a
          >
        </li>
        <li _ngcontent-ng-c530674021="">
          <a
            _ngcontent-ng-c530674021=""
            href="#"
            class="mr-4 hover:underline hover:text-blue-700 md:mr-6"
            >Privacy Policy</a
          >
        </li>
        <li _ngcontent-ng-c530674021="">
          <a
            _ngcontent-ng-c530674021=""
            href="#"
            class="mr-4 hover:underline hover:text-blue-700 md:mr-6"
            >Government Page</a
          >
        </li>
        <li _ngcontent-ng-c530674021="">
          <a
            _ngcontent-ng-c530674021=""
            href="#"
            class="mr-4 hover:underline hover:text-blue-700 md:mr-6"
            >Seller Page</a
          >
        </li>
        <li _ngcontent-ng-c530674021="">
          <a
            _ngcontent-ng-c530674021=""
            href="#"
            class="mr-4 hover:underline hover:text-blue-700 md:mr-6"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <hr
      _ngcontent-ng-c530674021=""
      class="my-6 border-gray-200 sm:mx-auto lg:my-8"
    />
    <span
      _ngcontent-ng-c530674021=""
      class="block text-sm text-gray-900 sm:text-center"
      >© 2023
      <a _ngcontent-ng-c530674021="" href="/" class="hover:underline"
        >PT InJourney Indonesia Persada</a
      >. All Rights Reserved.</span
    >
  </div>
</div>
