<div class="h-full">
  <div class="md:flex md:justify-between">
    <!-- searchbar: start -->
    <div class="w-full mb-4 md:mb-0 md:w-4/5">
      <form class="w-full">
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <!-- <input
            type="search"
            id="default-search"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Search travel package, hotels, or travels..."
            required
          /> -->
          <input
            [(ngModel)]="searchTerm"
            (input)="onSearch()"
            [ngModelOptions]="{ standalone: true }"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
            type="search"
            placeholder="Search travel package, hotels, or travels..."
            required
          />
          <!-- <button
            type="submit"
            class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2"
          >
            Search
          </button> -->
        </div>
      </form>
    </div>
    <!-- searchbar: end -->
    <!-- filter and sort: start -->
    <div class="w-full md:w-1/5 md:ms-2">
      <div class="grid grid-cols-2 h-full">
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <i class="uil uil-sort text-gray-500"></i>
          </div>
          <select
            id="sort"
            name="sort"
            [(ngModel)]="selectedSortOption"
            [ngModelOptions]="{ standalone: true }"
            (change)="sortProducts()"
            class="block w-full h-full px-10 text-sm text-gray-900 border border-gray-300 rounded-s-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          >
            <option value="default" class="hidden">Sort by</option>
            <option value="default">Default</option>
            <option value="price-asc">Price: Lowest</option>
            <option value="price-desc">Price: Highest</option>
            <option value="name-asc">Name: A-Z</option>
            <option value="name-desc">Name: Z-A</option>
          </select>
        </div>

        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <!-- You can replace this with your desired filter icon -->
            <i class="uil uil-filter text-gray-500"></i>
          </div>
          <select
            id="filter"
            name="filter"
            [(ngModel)]="selectedFilterOption"
            [ngModelOptions]="{ standalone: true }"
            (change)="filterProducts()"
            class="block w-full h-full px-10 text-sm text-gray-900 border border-gray-300 rounded-e-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          >
            <option value="default" class="hidden">Filter by</option>
            <option value="all">All</option>
            <option value="tour">Tour</option>
            <option value="food">Food</option>
            <option value="rental">Rental</option>
            <option value="packages">Packages</option>
            <option value="shopping">Shopping</option>
          </select>
        </div>
        <!-- <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >

            <i class="uil uil-filter text-gray-500"></i>
          </div>
          <select
            [(ngModel)]="itemsPerPage"
            (change)="changeItemsPerPage(itemsPerPage)"
            class="block w-full h-full px-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
        </div> -->
      </div>
    </div>

    <!-- filter and sort: end -->
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 w-full mt-8">
    <app-product-card
      *ngFor="let i of filteredProducts"
      [image]="readCoverImageURL(i.coverImagePath)"
      [title]="i.name"
      [rating]=""
      [price]="i.price"
      [id]="i._id"
    ></app-product-card>
  </div>

  <div *ngIf="filteredProducts.length === 0">
    <div class="flex flex-col items-center justify-center mt-10 h-fit py-24">
      <img
        src="../../../../assets/error/404.svg"
        alt="No Product Found"
        class="w-96 h-96"
      />
      <h1 class="text-4xl font-semibold mt-5">No Product Found</h1>
      <p class="text-gray-500 mt-2 text-2xl">Please try another keyword</p>
    </div>
  </div>
  <div *ngIf="filteredProducts.length !== 0" class="flex justify-center mt-5">
    <!-- <nav aria-label="Page navigation example">
      <ul class="inline-flex -space-x-px text-base h-10">
        <li>
          <a
            href="/product"
            class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-full hover:bg-gray-100"
            >Previous</a
          >
        </li>
        <li>
          <a
            href="/product"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100"
            >1</a
          >
        </li>
        <li>
          <a
            href="/product"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100"
            >2</a
          >
        </li>
        <li>
          <a
            href="/product"
            aria-current="page"
            class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700"
            >3</a
          >
        </li>
        <li>
          <a
            href="/product"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100"
            >4</a
          >
        </li>
        <li>
          <a
            href="/product"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100"
            >5</a
          >
        </li>
        <li>
          <a
            href="/product"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-full hover:bg-gray-100"
            >Next</a
          >
        </li>
      </ul>
    </nav> -->
    <!-- Pagination controls -->
    <!-- <pagination-controls
      (pageChange)="onPageChange($event)"
      (currentPage)="(currentPage)"
      (totalItems)="(totalItems)"
      (itemsPerPage)="(itemsPerPage)"
    >
    </pagination-controls> -->
  </div>
</div>
