<div class="relative w-full h-full mb-10">
  <div
    class="w-full bg-gradient-to-tr h-72 from-blue-500 via-blue-700 to-blue-800 rounded-b-3xl relative shadow-xl"
  >
    <div class="px-10 py-5" id="breadcrumb">
      <h1 class="text-2xl font-medium text-white">Order</h1>
      <!-- breadcrumb: start -->
      <nav aria-label="breadcrumb" class="flex items-center flex-wrap text-sm">
        <ol class="flex items-center flex-wrap gap-2">
          <li>
            <a href="#" routerLink="/" class="text-gray-50">Home /</a>
          </li>
          <li>
            <a href="#" routerLink="/merchant" class="text-gray-50"
              >Merchant /</a
            >
          </li>
          <li>
            <a href="#" routerLink="/merchant/order" class="text-gray-50"
              >Order</a
            >
          </li>
        </ol>
      </nav>
    </div>
    <div class="">
      <div
        class="absolute left-0 right-0 px-10 z-10"
        style="
          bottom: calc(
            -1 * (100% - document.getElementById('breadcrumb') .offsetHeight) - 12rem
          );
        "
      >
        <div class="flex bg-white rounded-3xl shadow-xl">
          <!-- content here -->
          <div class="w-full p-5 md:px-20 md:py-10">
            <div class="flex items-center justify-between my-1">
              <h1 class="font-semibold text-2xl">Order List</h1>
            </div>
            <div class="mt-5">
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="row-border hover"
              >
                <thead class="border-y">
                  <tr>
                    <th class="px-4 py-2">No</th>
                    <th class="px-4 py-2">Order</th>
                    <th class="px-4 py-2">Purchasing Date</th>
                    <th class="px-4 py-2">Customer</th>
                    <th class="px-4 py-2">Order Item</th>
                    <th class="px-4 py-2">Total</th>
                    <th class="px-4 py-2">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders; let i = index">
                    <td class="border px-4 py-2">{{ i + 1 }}</td>
                    <td class="border px-4 py-2">
                      <span class="font-bold text-gray-700">{{
                        order?._id
                      }}</span
                      ><br /><span class="text-sm font-normal text-gray-700"
                        >Invoice: {{ order?.invoiceNumber }}</span
                      >
                    </td>
                    <td class="border px-4 py-2">
                      {{ order?.createdAt | date : "dd MMMM yyyy - HH:mm:ss" }}
                    </td>
                    <td class="border px-4 py-2">
                      <span class="font-bold text-gray-700">{{
                        order?.userData?.name
                      }}</span
                      ><br /><span class="text-sm font-normal text-gray-700">{{
                        order?.userData?.email
                      }}</span>
                    </td>
                    <td class="border px-4 py-2">
                      <span class="font-bold text-gray-700">{{
                        order?.productData?.name
                      }}</span
                      ><br /><span class="text-sm font-normal text-gray-700">{{
                        order?.productData?.category
                      }}</span>
                    </td>
                    <td class="border px-4 py-2">
                      <span class="font-bold text-gray-700">{{
                        order?.total | currency : "MYR"
                      }}</span
                      ><br /><span class="text-sm font-normal text-gray-700"
                        >{{ order?.productData?.price | currency : "MYR" }} x
                        {{
                          order?.paypalInfo?.purchase_units[0]?.items[0]
                            ?.quantity
                        }}
                      </span>
                    </td>
                    <td class="border px-4 py-2">{{ order?.status }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
