<div class="w-full p-5 md:px-20 md:py-10">
  <div
    class="flex items-center border border-blue-100 p-5 bg-blue-50 rounded-lg w-full h-40"
  >
    <div>
      <h1 class="font-bold text-2xl w-full">Welcome Back, John Doe</h1>
      <p class="text-base w-full">Today {{ today | date }}</p>
    </div>
  </div>
  <!-- Chart -->
  <div class="mt-8 flex justify-between gap-4">
    <div class="w-1/2 bg-white border border-blue-100 rounded-lg p-5">
      <h1 class="font-bold text-xl">Total Merchant Registered</h1>
      <p class="text-base">Manage your store here</p>
    </div>
    <div class="w-1/2 bg-white border border-blue-100 rounded-lg p-5">
      <h1 class="font-bold text-xl">Total Product Registered</h1>
      <p class="text-base">Manage your store here</p>
    </div>
  </div>
</div>
