<div class="relative w-full h-full mb-10">
  <div
    class="w-full bg-gradient-to-tr h-72 from-blue-500 via-blue-700 to-blue-800 rounded-b-3xl relative shadow-xl"
  >
    <div class="px-10 py-5" id="breadcrumb">
      <h1 class="text-2xl font-medium text-white">Product</h1>
      <!-- breadcrumb: start -->
      <nav aria-label="breadcrumb" class="flex items-center flex-wrap text-sm">
        <ol class="flex items-center flex-wrap gap-2">
          <li>
            <a href="#" routerLink="/" class="text-gray-50">Home /</a>
          </li>
          <li>
            <a href="#" routerLink="/merchant" class="text-gray-50"
              >Merchant /</a
            >
          </li>
          <li>
            <a href="#" routerLink="/merchant/product" class="text-gray-50"
              >Product</a
            >
          </li>
        </ol>
      </nav>
    </div>
    <div class="">
      <div
        class="absolute left-0 right-0 px-10 z-10"
        style="
          bottom: calc(
            -1 * (100% - document.getElementById('breadcrumb') .offsetHeight) - 12rem
          );
        "
      >
        <div class="flex bg-white rounded-3xl shadow-xl">
          <!-- content here -->
          <div class="w-full p-5 md:px-20 md:py-10">
            <div class="flex items-center justify-between my-1">
              <h1 class="font-semibold text-2xl">Product List</h1>
              <a
                routerLink="/merchant/add-product"
                class="bg-gradient-to-tr from-blue-500 via-blue-700 to-blue-800 hover:bg-blue-700 text-white py-2 px-4 text-sm rounded-full"
              >
                <i class="fa-solid fa-plus"></i> Add Product</a
              >
            </div>
            <div class="mt-5">
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="row-border hover"
              >
                <thead class="border-y">
                  <tr>
                    <th class="px-4 py-2">No</th>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Category</th>
                    <th class="px-4 py-2">Price</th>
                    <th class="px-4 py-2">Stock</th>
                    <th class="px-4 py-2">Rating</th>
                    <th class="px-4 py-2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products; let i = index">
                    <td class="border px-4 py-2">{{ i + 1 }}</td>
                    <td class="border px-4 py-2">{{ product?.name }}</td>
                    <td class="border px-4 py-2">{{ product?.category }}</td>
                    <td class="border px-4 py-2">
                      {{ product?.price | currency : "MYR" }}
                    </td>
                    <td class="border px-4 py-2">
                      {{ product?.quantity }}
                    </td>
                    <td class="border px-4 py-2">
                      {{ product?.averageRating }}
                    </td>
                    <td class="border px-4 py-2 flex justify-center">
                      <!-- action button using dropdown -->

                      <button
                        (click)="
                          navigateWithoutParams(
                            '/merchant/product_update',
                            product._id
                          )
                        "
                        class="bg-gradient-to-tr from-blue-500 via-blue-700 to-blue-800 hover:bg-blue-700 text-white py-2 px-4 text-sm rounded-full me-2"
                      >
                        <i class="fa-solid fa-edit"></i> Edit
                      </button>
                      <button
                        class="bg-gradient-to-bl from-red-700 via-red-500 to-red-400 hover:bg-red-700 text-white py-2 px-4 text-sm rounded-full"
                        (click)="onDelete(product._id)"
                      >
                        <i class="fa-solid fa-trash"></i> Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
