<div class="w-full p-5 md:px-20 md:py-10">
  <div class="flex items-center justify-between my-1">
    <h1 class="font-bold text-2xl">Product List</h1>
    <a
      routerLink="/merchant/add-product"
      class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 text-sm rounded-full"
    >
      <i class="fa-solid fa-plus"></i> Add Product</a
    >
  </div>
  <div class="mt-5">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead class="border-y">
        <tr>
          <th class="px-4 py-2">No</th>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Category</th>
          <th class="px-4 py-2">Price</th>
          <th class="px-4 py-2">Stock</th>
          <th class="px-4 py-2">Availability</th>
          <th class="px-4 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.availability }}</td>
          <td>
            <!-- action button using dropdown -->

            <a
              routerLink="/merchant/edit-product/{{ product.id }}"
              class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 text-sm rounded-full"
            >
              <i class="fa-solid fa-edit"></i> Edit</a
            >
            <button
              class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 text-sm rounded-full"
              (click)="(product.id)"
            >
              <i class="fa-solid fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
