<div class="w-full p-5 md:px-20 md:py-10">
  <div class="flex items-center justify-between my-1">
    <h1 class="font-bold text-2xl">Product List</h1>
    <a
      routerLink="/merchant/product/add"
      class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 text-sm rounded-full"
    >
      <i class="fa-solid fa-plus"></i> Add Product</a
    >
  </div>
  <table
    datatable
    [dtOptions]="dtOptions"
    class="row-border hover text-sm mt-4 w-full border-y"
  >
    <thead class="border-y">
      <tr>
        <th class="px-4 py-2">No</th>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Price</th>
        <th class="px-4 py-2">Stock</th>
        <th class="px-4 py-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        No data avaialable
      </tr>
    </tbody>
  </table>
</div>
