<div class="flex max-h-screen justify-center">
  <!-- Left screen for image -->
  <div class="w-3/5 hidden md:block">
    <img
      [src]="cover"
      P
      alt="Login Image"
      class="w-full h-full object-cover rounded-e-3xl"
    />
    <!-- add video playered from internet using url
    <video
      [src]="video"
      autoplay
      loop
      muted
      class="w-full h-full object-cover rounded-e-3xl"
      #videoElement
    ></video>-->
  </div>

  <!-- Right screen for the login form -->
  <div
    class="w-full max-h-screen justify-center md:w-2/5 overflow-y-auto animate__animated animate__fadeInRight"
  >
    <router-outlet></router-outlet>
  </div>
</div>
