<nav class="sticky top-0 z-50 bg-slate-50 border-gray-200 w-full">
  <div
    class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4 sm:w-full"
  >
    <a class="flex items-center" href=""
      ><img
        alt="PromoTourism Logo"
        class="h-8 mr-3"
        src="assets/img/favicon.png"
      /><span
        class="self-center text-2xl font-semibold text-blue-500 whitespace-nowrap"
      >
        Promo</span
      ><span class="self-center text-2xl font-normal text-blue-500"
        >Tourism</span
      ></a
    >
    <div class="flex md:order-2">
      <!-- <a
        routerLink=""
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >Home</a
      >-->
      <!-- <a
        routerLink="/about"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >About</a
      > -->
      <!-- <a
        routerLink="/product"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >Product</a
      ><a
        routerLink="/order"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >Order</a
      > -->
      <!-- <a
        routerLink="/merchant"
        target="blank"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >Merchant</a
      >
      <a
        routerLink="/officer"
        target="blank"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >Officer</a
      > -->
    </div>
    <div class="flex md:order-2">
      <button
        type="button"
        routerLink="/product"
        class="text-gray-900 bg-transparent font-medium rounded-lg text-sm px-4 py-2 text-center hidden md:inline-block md:visible md:hover:text-blue-700 md:mr-0"
        tabindex="0"
        router-link="product"
      >
        <i class="fa-solid fa-boxes-stacked"></i>
        Product
      </button>

      <button
        type="button"
        routerLink="/order"
        class="text-gray-900 bg-transparent font-medium rounded-lg text-sm px-4 py-2 text-center hidden md:inline-block md:visible md:hover:text-blue-700 md:mr-0"
        tabindex="0"
        router-link="order"
      >
        <i class="fa-solid fa-cart-flatbed-suitcase"></i>
        Order
      </button>

      <button
        type="button"
        routerLink="/register-merchant"
        class="text-gray-900 bg-transparent font-medium rounded-lg text-sm px-4 py-2 text-center hidden md:inline-block md:visible md:hover:text-blue-700 md:mr-0"
        tabindex="0"
        router-link="auth/register-merchant"
      >
        <i class="fa-solid fa-store"></i>
        Register Merchant
      </button>

      <!-- <div class="flex flex-grow border border-gray-300"></div> -->
      <button
        *ngIf="!userData"
        type="button"
        routerLink="/auth/register"
        class="text-gray-900 bg-transparent font-medium rounded-lg text-sm px-4 py-2 text-center hidden md:inline-block md:visible md:hover:text-blue-700 md:mr-0"
        tabindex="0"
        router-link="auth/register"
      >
        <i class="fa-solid fa-circle-user"></i>
        Register
      </button>
      <button
        *ngIf="!userData"
        type="button"
        routerLink="/auth/login"
        class="hidden md:block text-white rounded-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 text-center mr-3 md:mr-0"
        tabindex="0"
        router-link="auth/login"
      >
        <i
          class="fa-solid fa-arrow-right-from-bracket me-1"
          style="text-align: center"
        ></i
        >Login
      </button>
      <div *ngIf="userData">
        <!-- <button
          type="button"
          class="flex text-white rounded-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-2 me-2 py-2 text-center mr-3 md:mr-0"
          tabindex="0"
          (click)="onLogout()"
        >
          <span
            class="inline-block rounded-full bg-blue-500 px-1 py-1 text-xs font-normal mr-2 uppercase"
          >
            {{ userData.name.substring(0, 2) }}
          </span>
          {{ userData.name }}
        </button> -->
        <button
          type="button"
          class="hidden md:block text-white rounded-full bg-gradient-to-r from-blue-700 to-blue-500 hover:from-blue-800 hover:to-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 text-center transition duration-300 ease-in-out"
          id="user-menu-button"
          aria-expanded="false"
          data-dropdown-toggle="user-dropdown"
          data-dropdown-placement="bottom"
        >
          <!-- <span class="sr-only">Open user menu</span> -->
          <span
            class="inline-block rounded-full bg-blue-400 px-2 py-1 text-xs font-semibold mr-2 uppercase shadow-sm"
          >
            {{ userData.initials || userData.name.substring(0, 2) }}
          </span>
          {{ userData.displayName || userData.name }}
        </button>

        <!-- Dropdown menu -->
        <div
          class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
          id="user-dropdown"
        >
          <div class="px-4 py-3">
            <span class="block text-sm text-gray-900 dark:text-white">{{
              userData.name
            }}</span>
            <span
              class="block text-xs text-gray-500 truncate dark:text-gray-400"
              >{{ userData.email }}</span
            >
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <button
                (click)="onLogout()"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >
                Sign out
              </button>
            </li>
          </ul>
        </div>
      </div>

      <button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none"
        id="mobile-nav-toggle"
        (click)="toggleMobileNav()"
      >
        <span class="sr-only">Open main menu</span
        ><svg
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
          class="w-5 h-5"
          id="mobile-nav-icon"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- mobile nav: start -->
  <div
    class="right-0 left-0 px-4 rounded-t-3xl bg-gray-50 text-black md:hidden hidden"
    [ngClass]="{
      block: isShown,
      hidden: !isShown,
      'animate__animated animate__fadeInDown': isShown,
      'animate__animated animate__fadeOutUp': !isShown
    }"
  >
    <div
      *ngIf="userData"
      class="flex flex-row w-full h-14 mt-5 bg-white rounded-3xl gap-2"
    >
      <div
        class="flex items-center justify-center uppercase text-xl font-bold text-white rounded-full bg-blue-400 w-14"
      >
        {{ userData.initials || userData.name.substring(0, 2) }}
      </div>
      <div class="flex flex-col justify-center flex-grow">
        <span class="text-xl font-bold">Hi, {{ userData.name }}</span
        ><span class="text-sm">Welcome Back!</span>
      </div>
      <div class="flex flex-col justify-center w-14 h-14">
        <a *ngIf="userData" (click)="onLogout()"
          ><i
            class="fa-solid fa-arrow-right-from-bracket"
            style="text-align: center"
          ></i
        ></a>
      </div>
    </div>
    <div class="w-full mt-5 px-5 rounded-3xl">
      <ul class="my-5">
        <!-- <li class="py-5 text-md w-full">
          <a
            routerLink=""
            routerLinkActive="text-blue-700 font-bold"
            class="text-blue-700 font-bold"
            ><i class="fa-solid fa-house"></i
            ><span class="ms-5 focus:font-bold">Home</span></a
          >
        </li> -->
        <li class="py-5 text-md w-full">
          <a routerLink="/about" routerLinkActive="text-blue-700 font-bold"
            ><i class="fa-solid fa-hands"></i
            ><span class="ms-5 focus:font-bold">About</span></a
          >
        </li>
        <li class="py-5 text-md w-full">
          <a routerLink="product" routerLinkActive="text-blue-700 font-bold"
            ><i class="fa-solid fa-store"></i
            ><span class="ms-5 focus:font-bold">Product</span></a
          >
        </li>
        <!-- <li class="py-5 text-md w-full">
          <a routerLink="help" routerLinkActive="text-blue-700 font-bold"
            ><i class="fa-solid fa-circle-exclamation"></i
            ><span class="ms-5 focus:font-bold">Help</span></a
          >
        </li> -->
        <li class="py-5 text-md w-full">
          <a routerLink="/order" routerLinkActive="text-blue-700 font-bold">
            <i class="fa-solid fa-gift"></i>
            <span class="ms-5 focus:font-bold">Order</span></a
          >
        </li>
        <li class="py-5 text-md w-full">
          <a
            routerLink="/merchant"
            routerLinkActive="text-blue-700 font-bold"
            target="blank"
            ><i class="fa-solid fa-cash-register"></i
            ><span class="ms-5 focus:font-bold">Merchant</span></a
          >
        </li>

        <li class="py-5 text-md w-full">
          <a
            routerLink="/officer"
            routerLinkActive="text-blue-700 font-bold"
            target="blank"
            ><i class="fa-solid fa-school"></i
            ><span class="ms-5 focus:font-bold">Officer</span></a
          >
        </li>
      </ul>
    </div>
    <!-- button login -->
    <div class="flex flex-col justify-center w-full h-14">
      <a
        *ngIf="!userData"
        routerLink="/auth/login"
        class="flex items-center justify-center w-full h-14 text-white rounded-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 text-center mr-3 md:mr-0"
        tabindex="0"
        router-link="auth/login"
      >
        <i
          class="fa-solid fa-arrow-right-from-bracket me-1"
          style="text-align: center"
        ></i
        >Login
      </a>
    </div>
  </div>
  <!-- mobile nav: end -->
</nav>
