<nav
  _ngcontent-ng-c956297255=""
  class="sticky top-0 z-50 bg-slate-50 border-gray-200 w-full"
>
  <div
    _ngcontent-ng-c956297255=""
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 sm:w-full"
  >
    <a _ngcontent-ng-c956297255="" class="flex items-center" href=""
      ><img
        _ngcontent-ng-c956297255=""
        alt="PromoTourism Logo"
        class="h-8 mr-3"
        src="assets/img/favicon.png"
      /><span
        _ngcontent-ng-c956297255=""
        class="self-center text-2xl font-semibold text-blue-500 whitespace-nowrap"
      >
        Promo</span
      ><span
        _ngcontent-ng-c956297255=""
        class="self-center text-2xl font-normal text-blue-500"
        >Tourism</span
      ></a
    ><!--bindings={
  "ng-reflect-ng-if": "false"
}-->
    <div _ngcontent-ng-c956297255="" class="flex md:order-2">
      <a
        _ngcontent-ng-c956297255=""
        href=""
        routerlinkactive="text-blue-700 font-bold"
        class="block mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        ng-reflect-router-link-active="text-blue-700 font-bold"
        >Home</a
      ><a
        _ngcontent-ng-c956297255=""
        href="/about"
        routerlinkactive="text-blue-700 font-bold"
        routerlink="about"
        class="block mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        ng-reflect-router-link="about"
        ng-reflect-router-link-active="text-blue-700 font-bold"
        >About</a
      ><a
        _ngcontent-ng-c956297255=""
        href="/product"
        routerlinkactive="text-blue-700 font-bold"
        routerlink="product"
        class="block mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        ng-reflect-router-link="product"
        ng-reflect-router-link-active="text-blue-700 font-bold"
        >Product</a
      ><a
        _ngcontent-ng-c956297255=""
        href="/help"
        routerlinkactive="text-blue-700 font-bold"
        routerlink="help"
        class="block mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        ng-reflect-router-link="help"
        ng-reflect-router-link-active="text-blue-700 font-bold"
        >Help</a
      ><a
        _ngcontent-ng-c956297255=""
        href=""
        routerlinkactive="text-blue-700 font-bold"
        class="block mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        ng-reflect-router-link-active="text-blue-700 font-bold"
        >ProSeller</a
      >
    </div>
    <div _ngcontent-ng-c956297255="" class="flex md:order-2">
      <!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><button
        _ngcontent-ng-c956297255=""
        type="button"
        routerlink="auth/register"
        class="text-gray-900 bg-transparent font-medium rounded-lg text-sm px-4 py-2 text-center hidden md:inline-block md:visible md:hover:text-blue-700 md:mr-0"
        tabindex="0"
        ng-reflect-router-link="auth/register"
      >
        Register</button
      ><button
        _ngcontent-ng-c956297255=""
        type="button"
        routerlink="auth/login"
        class="text-white rounded-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 text-center mr-3 md:mr-0"
        tabindex="0"
        ng-reflect-router-link="auth/login"
      >
        <i
          _ngcontent-ng-c956297255=""
          class="fa-solid fa-arrow-right-from-bracket"
          style="text-align: center"
        ></i
        >Login</button
      ><button
        _ngcontent-ng-c956297255=""
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none"
      >
        <span _ngcontent-ng-c956297255="" class="sr-only">Open main menu</span
        ><svg
          _ngcontent-ng-c956297255=""
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
          class="w-5 h-5"
        >
          <path
            _ngcontent-ng-c956297255=""
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div
    _ngcontent-ng-c956297255=""
    class="right-0 left-0 px-4 rounded-t-3xl bg-gray-50 text-black md:hidden hidden"
    ng-reflect-ng-class="[object Object]"
  >
    <div
      _ngcontent-ng-c956297255=""
      class="flex flex-row w-full h-14 mt-5 bg-white rounded-3xl gap-2"
    >
      <div _ngcontent-ng-c956297255="" class="rounded-full m-1">
        <img
          _ngcontent-ng-c956297255=""
          alt="User icon"
          class="w-full h-full object-cover"
          src="/assets/img/avatar.png"
        />
      </div>
      <div
        _ngcontent-ng-c956297255=""
        class="flex flex-col justify-center flex-grow"
      >
        <span _ngcontent-ng-c956297255="" class="text-xl font-bold"
          >Hi, User</span
        ><span _ngcontent-ng-c956297255="" class="text-sm">Welcome Back!</span>
      </div>
      <div
        _ngcontent-ng-c956297255=""
        class="flex flex-col justify-center w-14 h-14"
      >
        <a
          _ngcontent-ng-c956297255=""
          routerlink="auth/login"
          ng-reflect-router-link="auth/login"
          href="/auth/login"
          ><i
            _ngcontent-ng-c956297255=""
            class="fa-solid fa-arrow-right-from-bracket"
            style="text-align: center"
          ></i
        ></a>
      </div>
    </div>
    <div _ngcontent-ng-c956297255="" class="w-full mt-5 px-5 rounded-3xl">
      <ul _ngcontent-ng-c956297255="" class="my-5">
        <li _ngcontent-ng-c956297255="" class="py-5 text-md w-full">
          <a
            _ngcontent-ng-c956297255=""
            routerlink=""
            routerlinkactive="text-blue-700 font-bold"
            ng-reflect-router-link=""
            ng-reflect-router-link-active="text-blue-700 font-bold"
            href="/"
            class="text-blue-700 font-bold"
            ><i _ngcontent-ng-c956297255="" class="fa-solid fa-house"></i
            ><span _ngcontent-ng-c956297255="" class="ms-5 focus:font-bold"
              >Home</span
            ></a
          >
        </li>
        <li _ngcontent-ng-c956297255="" class="py-5 text-md w-full">
          <a
            _ngcontent-ng-c956297255=""
            routerlink="about"
            routerlinkactive="text-blue-700 font-bold"
            ng-reflect-router-link="about"
            ng-reflect-router-link-active="text-blue-700 font-bold"
            href="/about"
            ><i _ngcontent-ng-c956297255="" class="fa-solid fa-hands"></i
            ><span _ngcontent-ng-c956297255="" class="ms-5 focus:font-bold"
              >About</span
            ></a
          >
        </li>
        <li _ngcontent-ng-c956297255="" class="py-5 text-md w-full">
          <a
            _ngcontent-ng-c956297255=""
            routerlink="product"
            routerlinkactive="text-blue-700 font-bold"
            ng-reflect-router-link="product"
            ng-reflect-router-link-active="text-blue-700 font-bold"
            href="/product"
            ><i _ngcontent-ng-c956297255="" class="fa-solid fa-store"></i
            ><span _ngcontent-ng-c956297255="" class="ms-5 focus:font-bold"
              >Product</span
            ></a
          >
        </li>
        <li _ngcontent-ng-c956297255="" class="py-5 text-md w-full">
          <a
            _ngcontent-ng-c956297255=""
            routerlink="help"
            routerlinkactive="text-blue-700 font-bold"
            ng-reflect-router-link="help"
            ng-reflect-router-link-active="text-blue-700 font-bold"
            href="/help"
            ><i
              _ngcontent-ng-c956297255=""
              class="fa-solid fa-circle-exclamation"
            ></i
            ><span _ngcontent-ng-c956297255="" class="ms-5 focus:font-bold"
              >Help</span
            ></a
          >
        </li>
        <li _ngcontent-ng-c956297255="" class="py-5 text-md w-full">
          <a
            _ngcontent-ng-c956297255=""
            href=""
            routerlinkactive="text-blue-700 font-bold"
            ng-reflect-router-link-active="text-blue-700 font-bold"
            ><i
              _ngcontent-ng-c956297255=""
              class="fa-solid fa-cash-register"
            ></i
            ><span _ngcontent-ng-c956297255="" class="ms-5 focus:font-bold"
              >ProSeller</span
            ></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
