<nav class="sticky top-0 z-50 bg-slate-50 border-gray-200 w-full">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 sm:w-full"
  >
    <a class="flex items-center" href=""
      ><img
        alt="PromoTourism Logo"
        class="h-8 mr-3"
        src="assets/img/favicon.png"
      /><span
        class="self-center text-2xl font-semibold text-blue-500 whitespace-nowrap"
      >
        Promo</span
      ><span class="self-center text-2xl font-normal text-blue-500"
        >Tourism</span
      ></a
    >
    <div class="flex md:order-2">
     <a
        routerLink="/about"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >About</a
      ><a
        routerLink="/product"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >Product</a
      ><a
        routerLink="/order"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >Order</a
      >
      <a
        routerLink="/merchant"
        target="blank"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >Merchant</a
      >
      <a
        routerLink="/officer"
        target="blank"
        class="mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 hidden md:block"
        routerLinkActive="text-blue-700 font-bold"
        >Officer</a
      >
    </div>
    <div class="flex md:order-2">
      <button
        type="button"
        routerLink="/auth/register"
        class="text-gray-900 bg-transparent font-medium rounded-lg text-sm px-4 py-2 text-center hidden md:inline-block md:visible md:hover:text-blue-700 md:mr-0"
        tabindex="0"
        router-link="auth/register"
      >
        Register</button
      ><button
        type="button"
        routerLink="/auth/login"
        class="text-white rounded-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 text-center mr-3 md:mr-0"
        tabindex="0"
        router-link="auth/login"
      >
        <i
          class="fa-solid fa-arrow-right-from-bracket me-1"
          style="text-align: center"
        ></i
        >Login</button
      ><button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none"
        id="mobile-nav-toggle"
        (click)="toggleMobileNav()"
      >
        <span class="sr-only">Open main menu</span
        ><svg
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
          class="w-5 h-5"
          id="mobile-nav-icon"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- Mobile Nav Below -->
  <div
    class="right-0 left-0 px-4 rounded-t-3xl bg-gray-50 text-black md:hidden hidden"
    [ngClass]="{
      block: isShown,
      hidden: !isShown,
      'animate__animated animate__fadeInDown': isShown,
      'animate__animated animate__fadeOutUp': !isShown
    }"
  >
    <div class="flex flex-row w-full h-14 mt-5 bg-white rounded-3xl gap-2">
      <div class="rounded-full m-1">
        <img
          alt="User icon"
          class="w-full h-full object-cover"
          src="/assets/img/avatar.png"
        />
      </div>
      <div class="flex flex-col justify-center flex-grow">
        <span class="text-xl font-bold">Hi, User</span
        ><span class="text-sm">Welcome Back!</span>
      </div>
      <div class="flex flex-col justify-center w-14 h-14">
        <a routerLink="/auth/login" router-link="auth/login" href="/auth/login"
          ><i
            class="fa-solid fa-arrow-right-from-bracket"
            style="text-align: center"
          ></i
        ></a>
      </div>
    </div>
    <div class="w-full mt-5 px-5 rounded-3xl">
      <ul class="my-5">
        <li class="py-5 text-md w-full">
          <a routerLink="/about" routerLinkActive="text-blue-700 font-bold"
            ><i class="fa-solid fa-hands"></i
            ><span class="ms-5 focus:font-bold">About</span></a
          >
        </li>
        <li class="py-5 text-md w-full">
          <a routerLink="product" routerLinkActive="text-blue-700 font-bold"
            ><i class="fa-solid fa-store"></i
            ><span class="ms-5 focus:font-bold">Product</span></a
          >
        </li>
        <li class="py-5 text-md w-full">
          <a routerLink="/order" routerLinkActive="text-blue-700 font-bold">
            <i class="fa-solid fa-gift"></i>
            <span class="ms-5 focus:font-bold">Order</span></a
          >
        </li>
        <li class="py-5 text-md w-full">
          <a
            routerLink="/merchant"
            routerLinkActive="text-blue-700 font-bold"
            target="blank"
            ><i class="fa-solid fa-cash-register"></i
            ><span class="ms-5 focus:font-bold">Merchant</span></a
          >
        </li>

        <li class="py-5 text-md w-full">
          <a
            routerLink="/officer"
            routerLinkActive="text-blue-700 font-bold"
            target="blank"
            ><i class="fa-solid fa-school"></i
            ><span class="ms-5 focus:font-bold">Officer</span></a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- mobile nav: end -->
</nav>
