<div class="relative w-full h-full mb-10">
  <div
    class="w-full bg-gradient-to-tr h-72 from-blue-500 via-blue-700 to-blue-800 rounded-b-3xl relative shadow-xl"
  >
    <div class="px-10 py-5" id="breadcrumb">
      <h1 class="text-2xl font-medium text-white">Analytics Report</h1>
      <!-- breadcrumb: start -->
      <nav aria-label="breadcrumb" class="flex items-center flex-wrap text-sm">
        <ol class="flex items-center flex-wrap gap-2">
          <li>
            <a href="#" routerLink="/" class="text-gray-50">Home /</a>
          </li>
          <li>
            <a href="#" routerLink="/merchant" class="text-gray-50"
              >Merchant /</a
            >
          </li>
          <li>
            <a href="#" routerLink="/merchant/report" class="text-gray-50"
              >Analytics Report</a
            >
          </li>
        </ol>
      </nav>
    </div>
    <div class="hidden lg:block">
      <div
        class="absolute left-0 right-0 px-10 z-10"
        style="
          bottom: calc(
            -1 * (100% - document.getElementById('breadcrumb') .offsetHeight) - 12rem
          );
        "
      >
        <div class="flex bg-white rounded-3xl shadow-xl">
          <!-- content here -->
          <div class="w-full p-5 md:px-20 md:py-10">
            <div class="flex items-center justify-between my-1">
              <h1 class="font-semibold text-2xl">Merchant Report</h1>
              <!-- <a
                routerLink="/merchant/product/add"
                class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 text-sm rounded-full"
              >
                <i class="fa-solid fa-plus"></i> Add Product</a
              >-->
            </div>
            <div class="md:flex md:justify-between items-center gap-8">
              <canvas
                baseChart
                [type]="'bar'"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                class="w-full md:w-1/2"
              >
              </canvas>
              <canvas
                baseChart
                [type]="'line'"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                class="w-full md:w-1/2"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
