<div class="w-full p-5 md:px-20 md:py-10">
  <div class="flex items-center justify-between my-1">
    <h1 class="font-bold text-2xl">Merchant Report</h1>
    <!-- <a
      routerLink="/merchant/product/add"
      class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 text-sm rounded-full"
    >
      <i class="fa-solid fa-plus"></i> Add Product</a
    >-->
  </div>
  <div class="flex justify-between items-center gap-8">
    <canvas
      baseChart
      [type]="'bar'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      class="w-1/2"
    >
    </canvas>
    <canvas
      baseChart
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      class="w-1/2"
    >
    </canvas>
  </div>
</div>
