<div class="container">
    <p class="alert alert-danger" *ngIf="products == 0">No products</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Prc</th>
                <th>Qty</th>
                <th>Description</th>
                <th>Dscnt</th>
                <th>Cat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index">
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.discount }}</td>
                <td>{{ product.category }}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteProduct(product, i)">Delete</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>


<p>AAAAAAAAAAAA</p>