<div class="relative w-full h-96 my-5 bg-slate-100 text-white rounded-3xl">
  <video
    autoplay=""
    loop=""
    class="h-full w-full object-cover rounded-3xl"
    src="/assets/video/Sequence 01.webm"
    __idm_id__="2056193"
  ></video>
  <div
    class="absolute top-0 left-0 right-0 bottom-0 flex items-center px-5 lg:px-20 bg-blue-950 bg-opacity-70 text-white rounded-3xl"
  >
    <div class="w-full">
      <h1 class="text-4xl md:text-6xl font-bold">Xplore Trully Malaysia</h1>
      <p class="mt-2 text-lg md:text-3xl">
        Experience the finest that Malaysia can offer
      </p>
      <div class="mt-8">
        <a
          href="#"
          class="px-4 py-2 text-lg rounded-full bg-transparent border-2 border-white text-white hover:bg-white hover:text-black"
          >Get Started <i class="fa-solid fa-circle-arrow-right"></i
        ></a>
        <div class="absolute right-5 bottom-0 text-gray-500 text-sm">
          <p>© Aki From Japan</p>
        </div>
      </div>
    </div>
  </div>
</div>
