<!-- breadcrumb: start -->
<nav class="text-black font-bold text-xs my-8" aria-label="Breadcrumb">
  <ol class="list-none p-0 inline-flex">
    <li class="flex items-center">
      <a href="#">Home</a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mx-2"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </li>
    <li class="flex items-center text-gray-500">
      <p>Order</p>
    </li>
  </ol>
</nav>
<!-- breadcrumb: end -->
<!-- order lists: start -->
<h1 class="font-bold text-2xl my-3">All Transaction</h1>
<div *ngIf="!orders">
  <div class="flex flex-col items-center justify-center mt-10 h-fit py-24">
    <img
      src="../../../../assets/error/404.svg"
      alt="No Orders Found"
      class="w-96 h-96"
    />
    <h1 class="text-4xl font-semibold mt-5">No Orders Found</h1>
    <p class="text-gray-500 mt-2 text-2xl text-center">
      Oops! Looks like there's nothing on the list yet. Place your order, and
      we'll get the ball rolling. 🌟🚀
    </p>
  </div>
</div>
<app-order-card
  *ngFor="let i of orders"
  [dateOrder]="i.createdAt"
  [description]=""
  [invoiceId]="i.invoiceNumber"
  [link]="i._id"
  [quantity]="i.paypalInfo.purchase_units[0].items[0].quantity"
  [productId]="i.productId"
  [total]="i.total"
  [status]="i.status"
></app-order-card>
