<p>about works!</p>

<div>
  <a
    class="block mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:hidden"
    href=""
    routerLinkActive="text-blue-700 font-bold"
    routerLink="product"
    >Product</a
  >
  <a
    class="block mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:hidden"
    href=""
    routerLinkActive="text-blue-700 font-bold"
    routerLink="help"
    >Help</a
  >
  <a
    class="block mx-4 text-sm justify-center text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:hidden"
    href=""
    routerLinkActive="text-blue-700 font-bold"
    >ProSeller</a
  >
</div>
