<div class="">
  <app-hero></app-hero>
  <div>
    <div class="mt-10 flex justify-between">
      <h2 class="text-xl font-bold">Best Promo</h2>
      <div>
        <button
          type="button"
          routerLink="auth/login"
          class="text-white rounded-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 text-center mr-3 md:mr-0"
          tabindex="0"
          router-link="auth/login"
        >
          <i class="fa-solid fa-layer-group me-1" style="text-align: center"></i
          >See all
        </button>
      </div>
    </div>
    <div class="relative">
      <div
        class="relative overflow-x-auto md:overflow-x-hidden md:mx-0"
        #scrollContainer
      >
        <!-- class utility below can be modified based on your needed. Follow Tailwind Docs for more detail information about styling -->
        <div class="pt-2 grid grid-rows-1 grid-flow-col gap-4 mx">
          <app-product-card
            class="w-48"
            route=""
            image="/assets/img/imagecover.jpg"
            title="Lorem ipsum dolor sit amet"
            [rating]="5"
            [price]="5000"
            [discount]="200"
          ></app-product-card>
          <app-product-card
            class="w-48"
            image="/assets/img/imagecover.jpg"
            title="Lorem ipsum dolor sit amet"
            [rating]="5"
            [price]="5000"
            [discount]="200"
          ></app-product-card>
          <app-product-card
            class="w-48"
            image="/assets/img/imagecover.jpg"
            title="Lorem ipsum dolor sit amet"
            [rating]="5"
            [price]="5000"
            [discount]="200"
          ></app-product-card>
          <app-product-card
            class="w-48"
            image="/assets/img/imagecover.jpg"
            title="Lorem ipsum dolor sit amet"
            [rating]="5"
            [price]="5000"
            [discount]="200"
          ></app-product-card>
          <app-product-card
            class="w-48"
            image="/assets/img/imagecover.jpg"
            title="Lorem ipsum dolor sit amet"
            [rating]="5"
            [price]="5000"
            [discount]="200"
          ></app-product-card>
          <app-product-card
            class="w-48"
            image="/assets/img/imagecover.jpg"
            title="Lorem ipsum dolor sit amet"
            [rating]="5"
            [price]="5000"
            [discount]="200"
          ></app-product-card>
          <app-product-card
            class="w-48"
            image="/assets/img/imagecover.jpg"
            title="Lorem ipsum dolor sit amet"
            [rating]="5"
            [price]="5000"
            [discount]="200"
          ></app-product-card>
        </div>
      </div>
      <!-- below is the left button, you can modify it: start -->
      <button
        class="hidden absolute top-1/2 -left-8 transform -translate-y-1/2 z-10 px-2 py-1 bg-slate-100 rounded-full w-16 h-16 hover:shadow-blue-200 shadow-md focus:outline-none md:block"
        (click)="scrollLeft()"
      >
        <i class="fas fa-chevron-left"></i>
      </button>
      <!-- below is the left button, you can modify it: end -->
      <!-- below is the right button, you can modify it: start -->
      <button
        class="hidden absolute top-1/2 -right-8 transform -translate-y-1/2 z-10 px-2 py-1 bg-slate-100 rounded-full w-16 h-16 hover:shadow-blue-200 shadow-md focus:outline-none md:block"
        (click)="scrollRight()"
      >
        <i class="fas fa-chevron-right"></i>
      </button>
      <!-- below is the right button, you can modify it: end-->
    </div>
  </div>
  <div>
    <div class="mt-10 flex justify-between">
      <h2 class="text-xl font-bold">All Product</h2>
      <div>
        <button
          type="button"
          routerLink="auth/login"
          class="text-white rounded-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 text-center mr-3 md:mr-0"
          tabindex="0"
          router-link="auth/login"
        >
          <i class="fa-solid fa-layer-group me-1" style="text-align: center"></i
          >See all
        </button>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 w-full">
      <!-- you are allowed to modify the style of the card eg. resize width using class. example: <app-product-card class="w-48"> -->
      <app-product-card
        class="w-48"
        route=""
        image="/assets/img/imagecover.jpg"
        title="Lorem ipsum dolor sit amet"
        [rating]="5"
        [price]="5000"
        [discount]="200"
      ></app-product-card>
    </div>
  </div>
</div>
